<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84586939825-ikbgh94vemdmhifc5uop4vi6bprbb793.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84586939825-ikbgh94vemdmhifc5uop4vi6bprbb793</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Cj3ilVBZJ7R2ey-niCmh5QUTlyz0IOc</string>
	<key>GCM_SENDER_ID</key>
	<string>84586939825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail-muranomurabito.failedSns</string>
	<key>PROJECT_ID</key>
	<string>failedsns</string>
	<key>STORAGE_BUCKET</key>
	<string>failedsns.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84586939825:ios:6f0d84ee1aa2ea5f1f2990</string>
	<key>DATABASE_URL</key>
	<string>https://failedsns.firebaseio.com</string>
</dict>
</plist>